<template>
  <div>
    <ul v-if="testData">
      <li v-for="product in testData" :key="product.node.id">
        {{ product.node.title }}
      </li>
    </ul>
  <button @click="createProduct()">Klick me please</button>
  </div>
</template>
<script>
export default {
  data () {
    return {
      testData: ''
    }
  },
  created () {
    this.$axios.get('http://localhost:3000/api/graphql')
    // eslint-disable-next-line no-return-assign
      .then(data => this.testData = data.data.data.products.edges)
  },
  methods: {
    createProduct () {
      this.$axios.post('http://localhost:3000/api/createProduct', {
        title: 'ich bin geil',
        id: 'gid://shopify/Product/1001345654'
      })
      // eslint-disable-next-line no-console
        .then(data => console.log(data))
    }
  }
}
</script>
